@model List<TechnoKala.CoreLayer.Dtos.PermissionDto>

@{
    ViewData["Title"] = "لیست سطوح دسترسی";
}

<h2>لیست سطوح دسترسی</h2>
<a asp-action="Create" class="btn btn-primary mb-3">ایجاد دسترسی جدید</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>عنوان</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">ویرایش</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
